<div class="container">

    <div class="row mt-5">
        <div class="col-8 mx-auto">
            <div class="card text-center">
                <h2 class="card-header">Congratulation</h2>
                <div class="card-body">
                    <h5 class="card-title">We have received your information</h5>
                    <p class="card-text">{{newParticipant.fullname}}</p>
                    <p class="card-text">{{newParticipant.email}}</p>
                    <p class="card-text">{{newParticipant.phone}}</p>
                    <small class="card-text">Thank you for joining with us</small>
                    <br />
                    <a href="/" class="btn btn-primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>

</div>