<div class="container h-100">
    <div class="row py-4 h-100">
        <div class="card m-auto">
            <div class="card-header">
                Phạm Hải Đăng
            </div>
            <div class="card-body">
                18120302
            </div>
        </div>
    </div>
</div>